body {
	font-family: "peridot-pe-variable", sans-serif;
	font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
	font-size: 18px; line-height: 26px;
	color: #111111;
}

a { text-decoration: none; }

.font-bd {
	font-family: benton-modern-display, serif;
	font-weight: 400;
	font-style: normal;
}
.font-bd-b {
	font-family: benton-modern-display, serif;
	font-weight: 600;
	font-style: normal;
}
.font-l { font-weight: 300; }
.font-sb { font-weight: 600; }

.bg-purple { background-color: #120047 !important; }
.bg-blue { background-color: #DBEDF9 !important; }
.text-purple { color: #120047 !important; }
.text-blue { color: #84D0FF !important; }
.text-sm { font-size: 18px !important; line-height: 26px; }

.service { border: 2px solid #120047 !important; border-radius: 20px; }

@media screen and (min-width: 992px) {
	body { font-size: 22px; line-height: 36px; }
	h1 { font-size: 62px; line-height: 74px; }
}

@media screen and (min-width: 1800px) {
	h1 { font-size: 68px; line-height: 92px; }
	h2 { font-size: 48px !important; line-height: 60px; }
}