/* common */
* {
	margin: 0;
	padding: 0;
}	

.clearfix:before,  
.clearfix:after {  
	content: " ";  
	display: table;  
}  
.clearfix:after {  
	clear: both;  
}  
.clearfix {  
	*zoom: 1;  
}

.clear {
	height: 1px;
	overflow: hidden;
	clear: both;
}

a {
	color: #2c7b89;
	text-decoration: underline;	
}

a:hover {
	text-decoration: none;
}

a.link {
	font-style: italic;
	text-decoration: none;
}	

a.link:hover {
	text-decoration: underline;	
}

body {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;	
	font-size: 16px;
	line-height: 26px;
	color: #333333;
	font-weight: 400;
}

h1, h2 {
	font-size: 30px;
	color: #525252;
	margin: 0 0 20px;
	font-weight: 600;
}

img {
	max-width: 100%;	
}

img.full {
	border: 1px solid #cccccc;
}

@font-face{
	font-family:"Proxima Nova";
	src:url("/fonts/cd286751-96d9-485a-bfe6-e074cab7fbc5.eot?#iefix");
	src:url("/fonts/cd286751-96d9-485a-bfe6-e074cab7fbc5.eot?#iefix") format("eot"),
	url("/fonts/8ae6587a-142a-431d-926d-f7454dedb803.woff2") format("woff2"),
	url("/fonts/198fa8c4-b0f0-4203-bcfc-0c2b956f6784.woff") format("woff"),
	url("/fonts/587b832a-8371-49fe-b902-0adad1aaf3dc.ttf") format("truetype"),
	url("/fonts/e28c18e1-aaa4-43ab-96df-94b8bb15cbaa.svg#e28c18e1-aaa4-43ab-96df-94b8bb15cbaa") format("svg");
}

@font-face{
	font-family:"Proxima Nova Bold";
	src:url("/fonts/45bef099-6ce5-4767-94f9-e2c2a0d34c18.eot?#iefix");
	src:url("/fonts/45bef099-6ce5-4767-94f9-e2c2a0d34c18.eot?#iefix") format("eot"),
	url("/fonts/1a44eb17-d40c-423b-9a02-c49b46046174.woff2") format("woff2"),
	url("/fonts/2872b823-fc6d-455c-a05e-fe9554da8ba1.woff") format("woff"),
	url("/fonts/e114d697-9817-4b4a-ac3f-456f1f39a381.ttf") format("truetype"),
	url("/fonts/b1b45077-0c3f-418d-ae8a-7f8b4cdf99cf.svg#b1b45077-0c3f-418d-ae8a-7f8b4cdf99cf") format("svg");
}

.two {
	max-width: 50%;
	width: 50%;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
}

.three {
	max-width: 33.3%;
	width: 33.3%;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
}

.four {
	max-width: 25%;
	width: 25%;
	padding: 0 15px;
	box-sizing: border-box;
	float: left;
}
/* end of common */
.width {
	max-width: 1120px;
	margin : 0 auto;
	padding: 40px 15px;
	text-align: center;
}

/* header */
header {
	background: #eceaef;
	padding: 0;
}	

header .width {
	padding: 0 15px;
}	

.logo {
	max-width: 50%;
	float: left;
	padding: 15px 0;
}	

nav {
    max-width: 50%;
    position: relative;
    float: right;
	margin-top: 36px;
}

nav ul {
	list-style: none;
	width: 100%;
}

nav ul li {
	display: inline;
	float: left;
	font-size: 16px;
}

nav ul li a {
	color: #000000;
	text-decoration: none;
	padding: 6px 0;
	margin: 0 20px;	
}

nav ul li a:hover, nav ul li.current a {
	border-top: 4px solid #226170;
}

/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#3D3D3B url(/img/nav.png) no-repeat center center;
	background-size:18px;
	height:50px;
	width:50px;
}
/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left:1px solid #8B2870;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background:url(/img/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background-color:#6E1656;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}


/* end of header */
.breadcrumbs {
	list-style: none;	
	text-align: left;
	padding: 5px 10px;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #dedede;
	margin: 0 0 20px;
}

.breadcrumbs li {
	display: inline;
	font-size: 12px;
}	

.breadcrumbs li a {
	text-decoration: none;
	color: #000000;	
}

.breadcrumbs li.current a {
	font-weight: 600;
}

.breadcrumbs li:last-child span {
	display: none;	
}


#banner {
	background-image: url(/img/banner.jpg);
	background-size: cover;
	background-position: 0 65%;
	min-height: 400px;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	padding: 150px 0 0;
} 

#banner h1 {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;	
	font-weight: 600;
	font-size: 40px;
	color: #ffffff;
	line-height: 40px;
	margin: 0 0 15px;
}

#banner h2 {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;	
	font-weight: 400;
	font-size: 24px;
	color: #ffffff;
}


/* content */

/* projects */
#projects {
	background-color: #eceaef;	
}

#projects .bucket {
	margin: 0 0 20px;
	cursor: pointer;	
}

#projects .bucket img {
	border: 1px solid #8e8e8e;
}

#projects .bucket img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all .6s ease;
  -webkit-transition: all .6s ease;
}
/* end of projects */

/* collab */
#collab {
	padding: 40px 0;
	background-color: #3e2860;
	color: #ffffff;
	text-align: center;	
}

#collab h2 {
	color: #ffffff;
	margin: 0 0 24px;
}

#collab a {
	color: #ffffff;	
	text-decoration: none;
}

#collab p {
	margin: 0 0 20px;	
}

#collab p.social {
	margin: 0;
}

.social i {
	border: 1px solid #ffffff;
	padding: 5px;
	border-radius: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 0 5px;
}

.social i:hover {
	border: 1px solid #226170;
	background: #226170;
}
/* end of collab */

/* about */
#about.width p {
	text-align: left;
	margin: 0 0 20px;
}

img.about {
	max-width: 35%;
	float: left;
	margin: 0 45px 0 0;	
}
/* end of about */

/* services */
#services {
	background-color: #eceaef;	
}

#services h3 {
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 10px;
}	

#services span.icon {
	background: #226170;
	padding: 10px;
	border-radius: 64px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	display: block;
	width: 64px;
	height: 64px;
	margin: 0 auto 10px;
}	

#services span.icon .fa {
	color: #ffffff;
	line-height: 60px;
}
/* end of services */


/* work */
#work .bucket {
	margin: 0 0 20px;	
	position: relative;
}

#work .project {
	width: 65%;
	box-sizing: border-box;
	padding: 0 30px 0 0;
	float: left;
}

#work .project img.border {
	border: 1px solid #cccccc;
}

#work .description {
	width: 35%;
	float: left;
	text-align: left;
	box-sizing: border-box;
	padding: 20px;
	background: #eceaef;
	border-top: 4px solid #3e2860;
}

#work p {
	margin: 0 0 20px;	
}

#work .description p {
	margin: 0 0 10px;	
}


#work .bucket img {
	border: 6px solid #efefef;	
}

#work .bucket:hover img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	border: 6px solid #2c7b89;	
}

#work .bucket a.view {
	display: none;
	position: absolute;
	width: 40%;
	top: 35%;
	left: 30%;
	text-decoration: none;
	padding: 15px;
	background: #2c7b89;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	moz-border-radius: 7px;
	color: #ffffff;		
}
/* end of work */
/* end of content */

/* footer */
footer {
	padding: 10px 0;	
}

footer p {
	text-align: center;
	font-size: 12px;	
}

@media only screen and (max-width: 800px) {
	.nav-mobile {
		display:block;
	}
	
	nav {
		background: #3d3d3b;
		float: none;
		margin-top: 0;
		max-width: 100%;
		position: relative;
		width:100%;
		padding:50px 0 0;
	}
	
	.nav-list {
		display:none;
	}
	nav .nav-item {
		width:100%;
		float:none;
		display: block;
		text-align: left;
		background: #555555;	
	}
	
	nav ul li a:hover, nav ul li.current a {
		border: none;
		background: #2c7b89;	
	}
	
	.nav-item > a {
		padding:15px;
		margin: 0;
		display: block;
		color: #ffffff;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
	
	.width {
		padding: 20px 15px;
	}

	header .width {
		padding: 0;	
	}
	
	.logo {
		float: none;
		max-width: 95%;
		text-align: center;
		padding: 15px;
	}
	
	p {
		font-size: 16px;	
	}
	
	#banner {
		min-height: 250px;
		height: 250px;
		padding: 80px 0 0;
	} 

	h1 {
		font-size: 22px;
	}	
	
	#banner h1 {
		font-size: 28px;
		line-height: 28px;
		margin: 0 0 15px;
	}
	
	#banner h2 {
		font-size: 18px;
	}	
	
	h2 {
		font-size: 18px;	
	}
	
	#work .project {
		width: 100%;
		float: none;
		padding: 0;
		margin: 0 0 20px;
	}
	
	#work .description {
		width: 100%;
		float: none;
	}
	
	#work .bucket {
		float: left;
		max-width: 50%;
		width: 50%;
	}
	
}

@media only screen and (max-width: 480px) {
	#about.width p {
		margin: 0 0 15px;
	}

	img.about {
		max-width: 90%;
		float: none;
		margin: 0 0 20px;	
	}
	
	.bucket, #work .bucket {
		float: none;
		max-width: 100%;
		width: 100%;
		margin: 0 auto 15px;	
	}
	
}
