body {
	font-family: "peridot-pe-variable", sans-serif;
	font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
	font-size: 18px; line-height: 26px;
	color: #111111;
}

a { text-decoration: none; }

.font-bd {
	font-family: benton-modern-display, serif;
	font-weight: 400;
	font-style: normal;
}
.font-bd-b {
	font-family: benton-modern-display, serif;
	font-weight: 600;
	font-style: normal;
}
.font-l { font-weight: 300; }
.font-sb { font-weight: 600; }

.bg-purple { background-color: #1f0537 !important; }
.bg-blue { background-color: #DBEDF9 !important; }
.text-purple { color: #1f0537 !important; }
.text-blue { color: #84D0FF !important; }
.text-sm { font-size: 18px !important; line-height: 26px; }

.navbar-brand { max-width: 75%; }
.navbar-brand img { max-width: 100%; }
.cta:hover { font-variation-settings: "ital" 1, "wdth" 100, "wght" 400; }
.service { border: 2px solid #1f0537 !important; border-radius: 20px; }
.contact { background: url(../img/bg.jpg) center center no-repeat; background-size: cover; }
.slick-next, .slick-prev { top: 100%; }
.slick-prev { left: 48%; }
.slick-next { right: 48%; }
.slick-prev:before { opacity: 1; color: #1f0537; content: "\f053"; font-family: 'Font Awesome 5 Free'; font-weight: 700; }
.slick-next:before { opacity: 1; color: #1f0537; content: "\f054"; font-family: 'Font Awesome 5 Free'; font-weight: 700; }


@media screen and (min-width: 992px) {
	body { font-size: 22px; line-height: 36px; }
	h1 { font-size: 62px; line-height: 74px; }
}

@media screen and (min-width: 1400px) {
	h1 { font-size: 68px; line-height: 92px; }
	h2 { font-size: 48px !important; line-height: 60px; }
}