* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family:"Proxima Nova Semibold";
	src:url("../fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
	src:url("../fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),
	url("../fonts/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),
	url("../fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),
	url("../fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),
	url("../fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
}

.clear {
	clear: both;
	overflow: hidden;
}	

body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	font-size: 18px;
}

p {
	margin: 0;	
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;	
}

a {
	outline: none;
	text-decoration: none;	
	color: #da262d;
}

img {
	max-width: 100%;
}

.button {
	background: #3bc1cd;
	color: #ffffff;
	font-weight: 400;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;	
	padding: 14px 22px;
	display: inline-block;
}

.button:hover {
	background: #333333;
}

.button.outline {
	background: none;
	border: 3px solid #ffffff;
}

.container {
	width: 1200px;
	max-width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;	
}

.logo {
	float: left;
	padding: 30px 0;
}

.order {
	float: right;
	padding: 30px 20px;
	background: #eeeeee;
	text-align: center;	
}

.order p {
	font-size: 22px;	
}

.order p span {
	display: block;
	font-size: 36px;
	color: #da262d;
	font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
}

nav {
	float: right;
	margin: 0 30px 0 0;	
}

nav ul {
	list-style: none;	
}

nav ul li {
	display: inline;
	float: left;
	padding: 54px 20px;
}	

nav ul li a {
	font-size: 18px;
	color: #000000;	
}

nav a#pull {
  display: none;
}

.slicknav_menu {
	display: none;	
}

.banner .slide {
	background-image: url(../img/slide.png);
	background-position: center center;
	background-size: cover;
	height: 500px;
}

.slide-content {
	max-width: 55%;
	float: right;
	padding: 80px 0;
	text-align: center;
}

.slide-content h1 {
	font-size: 55px;
	margin: 0 0 10px;	
}

.slide-content p {
	font-size: 22px;
	margin: 0 0 30px;
}	

.slide-content .price {
	background: rgba(255,255,255,0.5);
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;	
	padding: 15px 0;
}

.slide-content .price span {
	float: left;
	font-size: 18px;
	box-sizing: border-box;
	width: 33.33%;
}

.slide-content .price span.small {
	padding: 30px 15px;
}	

.slide-content .price span.largenum {
	font-size: 130px;
	line-height: 100px;
	color: #da262d;
	font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
}

.slide-content .price span.largenum em {
	font-style: normal;
	letter-spacing: -20px;
}

.slide-content .price span sup {
	font-size: 40px;
}	

.ribbon {
	background-color: #da262d;
	text-align: center;
	padding: 30px 0;	
}

.ribbon p {
	color: #ffffff;
	font-size: 30px;	
}

.ribbon p span {
	font-size: 40px;
	font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
}

.ribbon p span a {
	color: #ffffff;	
}

.ribbon .button {
	margin-left: 10px;	
}

.main {
	padding: 50px 0;
	border-bottom: 1px solid #999999;
	text-align: center;
}	

.main h2 {
	font-size: 50px;
	margin: 0 0 30px;	
}

.main p {
	font-size: 28px;
	color: #666666;	
}

.main p span {
	padding: 0 10px;
}	

.main p .button {
	margin: 0 0 0 20px;	
}

.boxes {
	padding: 50px 0 80px;	
}

.boxes .box {
	width: 33.33%;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;	
	text-align: center;
}

.boxes .box img {
	padding: 4px;
	border: 1px solid #999999;
	margin: 0 0 30px;
}

.boxes .box h3 {
	font-size: 32px;
	line-height: 36px;
	margin: 0 0 30px;
}

.boxes .box p {
	font-size: 20px;
	line-height: 28px;
	margin: 0 0 30px;
}

.boxes .box a {
	font-size: 24px;
	line-height: 24px;
}

.callout {
	background: #eeeeee;
	text-align: center;	
}

.callout .agent {
	max-width: 25%;
	float: right;
	padding: 0 15px 0 0;
	margin-top: -30px;
}

.callout p {
	padding: 60px 130px 0 0;
	float: right;
}	

.callout p em {
	font-size: 26px;
}

.callout p span {
	display: block;
	color: #da262d;
	font-family: "Proxima Nova Semibold", Arial, sans-serif;
	font-size: 40px;
}

footer {
	padding: 30px 0;
	background: #383838;
	text-align: center;
}	

footer p {
	color: #ffffff;
	font-size: 16px;	
}

footer p a {
	color: #ffffff;
	text-decoration: underline;
}

.fancybox-skin {
	padding: 0;
}	

#modal {
	text-align: center;
	padding: 30px;	
}

#modal h2 {
	font-size: 30px;
	font-weight: 600;
	margin: 0 0 15px;
	color: #000000;
}

#modal p {
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

#modal .call {
	border: 1px solid #999999;	
	margin: 40px auto;
	display: inline-block;
}

#modal .call .fa {
	display: inline-block;
	float: left;
	background: #3bc1cd;
	color: #ffffff;
	font-size: 42px;
	height: 70px;
	width: 70px;
	line-height:70px;
}	

#modal .call a {
	display: inline-block;
	color: #da262d;
	font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;	
	font-size: 40px;
	line-height:40px;
	padding: 15px 20px;
}

#modal hr {
	margin-bottom: 30px;
	margin-left: -30px;
	margin-right: -30px;	
}

#modal .button {
	margin: 20px 0 0;	
}

@media screen and (max-width: 1200px) {
nav ul li {
	padding: 50px 12px;
}

nav ul li a {
	font-size: 16px;
}

.order {
	padding: 34px 20px;
}

.order p {
    font-size: 18px;
}

.order p span {
    font-size: 28px;
}

.banner .slide {
    background-position: right center;
}

.slide-content {
    max-width: 60%;
    margin-right: 15px;
}

.callout p {
    padding: 40px 130px 0 0;
}
}

@media screen and (max-width: 1000px) {
.logo {
	width: 15%;	
	padding: 20px 0;
}

nav ul li {
	padding: 30px 10px;
}

nav ul li a {
	font-size: 13px;
}

.order {
	padding: 24px;
}

.order p {
    font-size: 14px;
}

.order p span {
    font-size: 20px;
}

.banner .slide {
   height: 400px;
   background-position: center center;
}

.slide-content {
    max-width: 55%;
    margin-right: 0px;
}

.slide-content h1 {
    font-size: 36px;
}

.slide-content p {
    font-size: 14px;
    margin: 0 0 20px;
}

.slide-content .price {
	padding: 20px;	
}

.slide-content .price span {
	width: 100%;
	float: none;
	display: block;
	font-size: 14px;
}	

.slide-content .price span br {
	display: none;	
}

.slide-content .price span.small {
    padding: 0;
}

.slide-content .price span.largenum {
    font-size: 90px;
    line-height: 80px;
}

.ribbon p {
	font-size: 20px;	
}

.ribbon p span {
	font-size: 30px;
}

.main {
	padding: 30px 0;	
}

.main h2 {
    font-size: 32px;
	margin: 0 0 20px;
}

.main p {
	font-size: 20px;
}

.boxes .box h3 {
	font-size: 26px;
	line-height: 30px;
	margin: 0 0 30px;
}

.boxes .box p {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px;
}

.boxes .box a {
	font-size: 20px;
	line-height: 20px;
}

.callout p {
    padding: 20px 0 0;
    width: 70%;
}

.callout p em {
    font-size: 20px;
}
}

@media screen and (max-width: 768px) {
header .container {
	padding: 0;
}

.logo {
	margin-left: 15px;
}	

#navigation {
	display: none;	
}

.slicknav_menu {
	display: block;	
	clear: both;
	padding: 0;
}

.slicknav_menu ul li {
	display: block;
	padding: 0;	
	float: none;
}

.slicknav_menu ul li a {
	padding: 10px 15px;
	border-top: 1px solid #777777;
	margin: 0;
	font-size: 18px;
}

.slicknav_menu ul li a:hover {
	border-radius: 0;
	background: #da262d;
	color: #ffffff;	
}

nav {
	float:none;	
}

nav .nav {
	margin: 0;	
}

.slide-content {
    max-width: 100%;
}

.boxes {
    padding: 30px 0;
}

.boxes .box {
	float: none;
	padding: 0;
	width: 100%;
	margin: 0 0 30px;	
}

.boxes .box img {
	float: left;
	width: 30%;
	box-sizing: border-box;
}

.boxes .box .desc {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	width: 70%;
	text-align: left;
}

.boxes .box h3 {
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 15px;
}

.boxes .box p {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 15px;
}

.boxes .box a {
	font-size: 20px;
	line-height: 20px;
}

.callout p {
	width: 60%;	
}

.callout p em {
	font-size: 15px;	
}

.callout p span {
	font-size: 30px;
}	

.callout .agent {
		max-width: 27%;
		padding: 0 10px 0 0;
}
}

@media screen and (max-width: 600px) {
.logo {
	width: auto;	
	max-width: 20%;
	display: block;
	text-align: center;
}

.banner .slide {
	height: 320px;	
}

.slide-content {
    float: none;
}

.ribbon {
    padding: 15px 0 20px;
}

.ribbon p {
    font-size: 16px;
}

.ribbon p span {
    font-size: 24px;
}

.ribbon .button {
    margin: 10px auto 0;
	display: inline-block;
	padding: 10px 22px;
}

.main p strong {
	display: block;	
}

.main p .button {
	display: inline-block;
	margin-top: 20px;
	margin-left: auto;
	padding: 10px 22px;

}

.callout p {
    float: none;
    padding: 20px 0 10px;
	width: 100%;
}

.callout p em {
    font-size: 20px;
}

.callout .agent {
	float: none;
	max-width: 60%;
	padding: 0;
	margin: 0 auto;
	display: block;
}

footer {
	padding: 15px 0;	
}

footer p {
    font-size: 12px;
	line-height: 18px;
}

#modal .call .fa {
	font-size: 18px;
	height: 36px;
	width: 36px;
	line-height: 36px;
}	

#modal .call a {
	font-size: 22px;
	line-height:22px;
	padding: 7px 14px;
}
}

@media screen and (max-width: 480px) {
.logo {
	max-width: 100%;
	float: none;
}	

.order {
    padding: 20px;
	display: block;
	float: none;
}

.order p span {
	display: inline-block;
	padding: 0 8px;
}

.banner .slide {
	position: relative;	
}

.banner .container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.3);
}

.slide-content {
    float: none;
	width: 100%;
	padding: 20px 0;
	
}

.slide-content h1 {
	font-size: 24px;	
}

.slide-content p {
    font-size: 18px;
}

.slide-content .price {
	padding: 15px;
	border: 2px solid #000000;
	width: auto;	
}

.slide-content .price span.small {
	font-weight: 600;	
}

.main h2 {
		
}

.main p {
	font-size: 16px;
}

.main p .button {
	display: inline-block;
	margin-top: 20px;
	margin-left: auto;
	padding: 10px 22px;
	font-size: 20px;
}

.boxes .box img {
	float: none;
	width: 100%;
	margin: 0 0 15px;
}

.boxes .box .desc {
	float: none;
	padding: 0;
	width: 100%;
	text-align: center;
}
}